# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide xcache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# iginore  jetbrains goland/idea setting path
.idea/

# Project exclude paths
/deployment/config-20180615/
/deployment/home/
/deployment/temp/
/test/
/test-data/test/
